<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>

  <body class="product_edit">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
      <div class="box">
        <div class="container-1">
          <span class="icon"><i class="fa fa-search fa-2x"></i></span>
          <input type="search" id="search" placeholder="Buscador..." />
        </div>
      </div>
      <div>
      <form id="formValidate" action="/products/productInsertCRUD" method="POST" enctype="multipart/form-data">
        <div class="imgcontainer">
          <h1>Creación de un producto en e<span>C</span>omic</h1>
        </div>
        <% if(typeof alert !='undefined' ) { %>
          <% alert.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= error.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <% }) %>
              <% } %>
                <fieldset id="left">
                  <div class="form-field">
                    <label for="titulo"><b>Titulo</b></label>
                    <input type="text" placeholder="Ingrese el titulo" name="titulo" id="titulo"
                      value="<%= locals.oldData ? oldData.titulo : null %>">
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="temporada"><b>Temporada</b></label>
                    <input type="text" placeholder="Ingrese la temporada" name="temporada" id="temporada"
                      value="<%= locals.oldData ? oldData.temporada : null %>">
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="volumen"><b>Volumen</b></label>
                    <input type="text" placeholder="Ingrese el volumen" name="volumen" id="volumen"
                      value="<%= locals.oldData ? oldData.volumen : null %>">
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="stock"><b>Stock</b></label>
                    <input type="text" placeholder="Ingrese el stock" name="stock" id="stock"
                      value="<%= locals.oldData ? oldData.stock : null %>">
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="descontinuado"><b>Descontinuado</b></label>
                    <input type="text" placeholder="Ingrese el descontinuado" name="descontinuado" id="descontinuado"
                      value="<%= locals.oldData ? oldData.descontinuado : null %>">
                    <small></small>
                  </div>
                </fieldset>
                <fieldset id="right">
                  <div class="form-field">
                    <label for="id_categoria"><b>Categoría</b></label>
                    <select name="id_categoria" id="id_categoria" placeholder="Ingrese la categoria">
                      <option disabled selected value> -- Seleccione una opción -- </option>
                      <% if(typeof promCategoria !='undefined' ) { %>
                        <% promCategoria.forEach(function(categoria) { %>
                          <option value="<%= categoria.id %>">
                            <%= categoria.nombrecategoria %>
                          </option>
                          <% }) %>
                            <% } %>
                    </select>
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="id_pais"><b>País</b></label>
                    <select name="id_pais" id="id_pais" placeholder="Ingrese el país">
                      <option disabled selected value> -- Seleccione una opción -- </option>
                      <% if(typeof promPais !='undefined' ) { %>
                        <% promPais.forEach(function(pais) { %>
                          <option value="<%= pais.id %>">
                            <%= pais.nombre %>
                          </option>
                          <% }) %>
                            <% } %>
                    </select>
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="id_autor"><b>Autor</b></label>
                    <select name="id_autor" id="id_autor" placeholder="Ingrese el autor">
                      <option disabled selected value> -- Seleccione una opción -- </option>
                      <% if(typeof promPersonas !='undefined' ) { %>
                        <% promPersonas.forEach(function(autor) { %>
                          <option value="<%= autor.id %>">
                            <%= autor.nombrecompleto %>
                          </option>
                          <% }) %>
                            <% } %>
                    </select>
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="id_illustrador"><b>Illustrador</b></label>
                    <select name="id_illustrador" id="id_illustrador" placeholder="Ingrese el ilustrador">
                      <option disabled selected value> -- Seleccione una opción -- </option>
                      <% if(typeof promPersonas !='undefined' ) { %>
                        <% promPersonas.forEach(function(illustrador) { %>
                          <option value="<%= illustrador.id %>">
                            <%= illustrador.nombrecompleto %>
                          </option>
                          <% }) %>
                            <% } %>
                    </select>
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="publicacion"><b>Fecha de publicación</b></label>
                    <input type="date" placeholder="Ingrese la fecha de publicacion" name="publicacion" id="publicacion"
                      value="<%= locals.oldData ? oldData.publicacion : null %>">
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="precionormal"><b>Precio inventario</b></label>
                    <input type="text" placeholder="Ingrese el precio" name="precionormal" id="precionormal"
                      value="<%= locals.oldData ? oldData.precionormal : null %>">
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="precio"><b>Precio de venta</b></label>
                    <input type="text" placeholder="Ingrese el precio" name="precio" id="precio"
                      value="<%= locals.oldData ? oldData.precio : null %>">
                    <small></small>
                  </div>
                </fieldset>
                <fieldset id="center">
                  <div class="form-field">
                    <label for="descripcioncorta"><b>Descripción corta</b></label>
                    <input type="text" placeholder="Ingrese la descripcion corta" name="descripcioncorta"
                      id="descripcioncorta" value="<%= locals.oldData ? oldData.descripcioncorta : null %>">
                    <small></small>
                  </div>
                  <div class="form-field">
                    <label for="descripciondetallada"><b>Descripción detallada</b></label>
                    <textarea name="descripciondetallada" id="descripciondetallada" cols="30"
                      rows="10"><%= locals.oldData ? oldData.descripciondetallada : null %></textarea>
                    <small></small>
                  </div>
                </fieldset>
                <fieldset id="center">
                  <div class="form-field">
                    <label for="img"><b>Imagen</b></label>
                    <input type="file" name="imagen" id="imagen">
                    <small></small>
                  </div>
                </fieldset>
                <div class="container2">
                  <button type="submit" class="button">Guardar producto</button>
                </div>
                </div>
      </form>
      </main>
      <script type="text/javascript" src="/js/search2.js"></script>
      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
      <script defer src="/js/validateProduct.js"></script>
  </body>

</html>