<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
  <body class="product_detail">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
      <div class="box">
        <div class="container-1">
          <span class="icon"><i class="fa fa-search fa-2x"></i></span>
          <input type="search" id="search" placeholder="Buscador..." />
        </div>
      </div>
      <div class="card-wrapper">
        <div class="card-dtls">
          <!-- card left -->
          <div class="product-imgs">
            <div class="img-display">
              <div class="img-showcase">
                <img src="<% if(usuario.imagen.indexOf('https://') ) { %>
                    /images/imgUsers/<%= usuario.imagen %>
                  <% } else { %>
                    <%= usuario.imagen %>
                  <% } %>" alt="<%= usuario.nombre %>" />
              </div>
            </div>
          </div>
          <!-- card right -->
          <div class="product-content">
            <div class="card-header-title">
              <h2>Quien soy:</h2>
              <h2 class="product-title">
                <%= usuario.nombre %> <%= usuario.apellido %>
              </h2>
            </div>
            <div class="product-detail">
              <h2>Mas información:</h2>
              <ul>
                <li>Identificador: <span> <%= usuario.id %> </span></li>
                <li>
                  Correo electronico:
                  <span> <%= usuario.correoelectronico %> </span>
                </li>
                <li>
                  Teléfono / Celular:
                  <span> <%= usuario.numerotelefono %> </span>
                </li>
                <li>Ciudad: <span> <%= usuario.id_pais %> </span></li>
                <li>Ciudad: <span> <%= usuario.id_provincia %> </span></li>
              </ul>
            </div>
            <div class="edit-delete" action="">
              <div class="ml-auto">
                <a
                  class="text-uppercase"
                  href="/users/userEditCRUD/<%= usuario.id %>"
                  >Editar</a
                >
              </div>
              <div class="ml-auto">
                <a
                  class="text-uppercase"
                  href="/users/userDeleteCRUD/<%= usuario.id %>"
                  >Borrar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
