<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>

  <body class="product_edit">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
      <main class="main">
        <div class="box">
          <div class="container-1">
            <span class="icon"><i class="fa fa-search fa-2x"></i></span>
            <input type="search" id="search" placeholder="Buscador..." />
          </div>
        </div>
        <div>
        <form id="formValidate" action="/users/userInsertCRUD" method="POST" enctype="multipart/form-data">
          <div class="imgcontainer">
            <h1>Creación de un usuario en e<span>C</span>omic</h1>
          </div>
          <% if(typeof alert !='undefined' ) { %>
            <% alert.forEach(function(error) { %>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error.msg %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
              </div>
              <% }) %>
                <% } %>
                  <fieldset id="left">
                    <div class="form-field">
                      <label for="firstname"><b>Nombre</b></label>
                      <input type="text" placeholder="Ingrese el nombre" name="nombre" id="nombre"
                        value="<%= locals.oldData ? oldData.nombre : null %>" autocomplete="off">
                      <small></small>
                    </div>
                    <div class="form-field">
                      <label for="lastname"><b>Apellidos</b></label>
                      <input type="text" placeholder="Ingrese los apellidos" name="apellido" id="apellido"
                        value="<%= locals.oldData ? oldData.apellido : null %>" autocomplete="off">
                      <small></small>
                    </div>
                  </fieldset>
                  <fieldset id="right">
                    <div class="form-field">
                      <label for="email"><b>Correo electrónico</b></label>
                      <input type="text" placeholder="Ingrese el correo electronico" name="correoelectronico"
                        id="correoelectronico" value="<%= locals.oldData ? oldData.correoelectronico : null %>"
                        autocomplete="off">
                      <small></small>
                    </div>
                    <div class="form-field">
                      <label for="phonenumber"><b>Teléfono / Celular</b></label>
                      <input type="text" placeholder="Ingrese el teléfono o celular" name="numerotelefono"
                        id="numerotelefono" value="<%= locals.oldData ? oldData.numerotelefono : null %>"
                        autocomplete="off">
                      <small></small>
                    </div>
                    <div class="form-field">
                      <label for="country"><b>País</b></label>
                      <select name="id_pais" id="id_pais" placeholder="Ingrese el país">
                        <option disabled selected value> -- Seleccione una opción -- </option>
                        <% if(typeof promPais !='undefined' ) { %>
                          <% promPais.forEach(function(pais) { %>
                            <option value="<%= pais.id %>">
                              <%= pais.nombre %>
                            </option>
                            <% }) %>
                              <% } %>
                      </select>
                      <small></small>
                    </div>
                    <div class="form-field">
                      <label for="city"><b>Ciudad / Provincia</b></label>
                      <select name="id_provincia" id="id_provincia" placeholder="Ingrese el ciudad/provincia">
                        <option disabled selected value> -- Seleccione una opción -- </option>
                        <% if(typeof promProvincia !='undefined' ) { %>
                          <% promProvincia.forEach(function(prov) { %>
                            <option value="<%= prov.id %>">
                              <%= prov.nombre %>
                            </option>
                            <% }) %>
                              <% } %>
                      </select>
                      <small></small>
                    </div>
                    <div class="form-field">
                      <small></small>
                      <label for="password"><b>Contraseña</b></label>
                      <input type="password" placeholder="Ingrese la contraseña" name="contrasena" id="contrasena">
                    </div>
                  </fieldset>
                  <fieldset id="center">
                    <div class="form-field">
                      <label><b>Imagen</b></label>
                      <input type="file" name="imagenuser" id="imagenuser">
                      <small></small>
                    </div>
                  </fieldset>
                  <div class="container2">
                    <button type="submit" class="button">Guardar usuario</button>
                  </div>
                  </div>
                  
        </form>
      </main>
      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
      <script defer src="/js/validateUser.js"></script>
  </body>

</html>